*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #77c9d4;
    font-family: "Noto Sans JP" ,sans-serif;
}

h1{
    width: 192px;
    margin: 120px auto 0;
}

form{
    width: 320px;
    margin: 48px auto 0;
}
form p{
    font-weight: bold;
}
.text{
    width: 320px;
    font-size: 14px;
}
.text input{
    width: 320px;
    margin: 5px 0 20px;
    padding: 0.5em 1em;
    font-weight: normal;
    line-height: 2;
    background-color: #FFF;
    border-radius: 10px;
    border: none;
}
select{
    width: 320px;
    height: 40px;
    margin: 5px 0 20px;
    padding: 0.5em 1em;
    font-weight: normal;
    background-color: #FFF;
    border-radius: 10px;
    border: none;
    position: relative;
}
.selectWrap{
    position: relative;
}
.selectWrap::after{
    content: url("../images/Polygon\ 1.svg");
    display: block;
    position: absolute;
    bottom: 25px;
    right: 16px;
}


a{
    position: relative;
    display: block;
    width: 310px;
    margin: 48px auto;
    text-decoration: none;
    border-radius: 32px;
    color: #000;
    cursor: pointer;
}
a:visited{
    text-decoration: none;
    color: #000;
}
.btn{
    width: 310px;
    padding: 0.7em 0.5em;
    background-color: #FFF;
    font-weight: bold;
    border-radius: 32px;
    border: none;
}
.btn img{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 16px;
    margin: auto;
}